Host *
ServerAliveInterval 3

Host callahan
HostName callahan.akamai.com
User rblaffor
DynamicForward 8888
LocalForward 5222 jabberim.akamai.com:5222

Host callahan-proxy
Hostname callahan.akamai.com
User rblaffor
IdentityFile ~/.ssh/active/current-internal
DynamicForward 8888
ControlMaster auto
ControlPath ~/.ssh/sockets/%r@%h:%p

Host git.source.akamai.com
HostName git.source.akamai.com
ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=8888
User rblaffor

Host desktop
HostName nyc-lp1g9.145bw.corp.akamai.com
User rblaffor

Host desktop-proxy
HostName nyc-lp1g9.145bw.corp.akamai.com
ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=8888
User rblaffor

Host dcp-ci-1
HostName 198-18-133-46-CI.ci.deca.mqtt-be.nss1.tn.akamai.com
ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=8888
User root

Host si-desktop
Hostname si-desktop.ddns.net
User robert

Host *.ddns.net
       IdentitiesOnly=yes
Host *.akamai.com
       HostKeyAlgorithms +ssh-dss
Host *.akamaitechnologies.com
       HostKeyAlgorithms +ssh-dss
Host *.akamai.com
       HostKeyAlgorithms +ssh-dss
Host *.akamaitechnologies.com
       HostKeyAlgorithms +ssh-dss
Host *
       HostKeyAlgorithms +ssh-dss
Host *.akamai.com
       HostKeyAlgorithms +ssh-dss
Host *.akamaitechnologies.com
       HostKeyAlgorithms +ssh-dss
Host *
       HostKeyAlgorithms +ssh-dss
Host *.akamai.com
       HostKeyAlgorithms +ssh-dss
Host *.akamaitechnologies.com
       HostKeyAlgorithms +ssh-dss
Host *
       HostKeyAlgorithms +ssh-dss
